
<script>
function deleteFavorite(input){
      jQuery.ajax({
          url: "/users/deleteFavorite/",
          data: {'id':input.toString()},
          success: function(result) {
            location.reload();
            sessionStorage.setItem("message", "favorite removed");
           },
          error: function() {
          alert('Error occured');
           }

      });
}
</script>

<%= render '/layouts/ribbon' %>
<%= @user.name %>'s favorites <br>

<div id="overlay"></div>
<div id="overlayContent">
    <img id="imgBig" src="" alt="" />
</div>

<table>
	<% @favorites.each_with_index do |favorite, i| %>
    <% @shaved = favorite.url[0..-5] %>
		<% if i % 3 == 0 %>
      <%= render inline: "</tr>" %>
      <%= render inline: "<tr>" %>
    <%end%>
    <td>
      <img
        onMouseOver="document.img<%=i.to_s%>.src='<%= @shaved + '.gif' %>';" 
        onMouseOut="document.img<%=i.to_s%>.src='<%= @shaved + 'm.gif' %>';"
        src="<%= @shaved + 'm.gif' %>" name="img<%=i.to_s%>" id="img<%=i.to_s%>"
      >

      <script>
      $("#img<%=i.to_s%>").click(function(){                                            
        $("#imgBig").attr("src","<%= @shaved + '.gif' %>");
        document.img<%=i.to_s%>.src='<%= @shaved + 'm.gif' %>';
        $("#overlay").show();
        $("#overlayContent").show();
      });

      $("#imgBig").click(function(){
          $("#imgBig").attr("src", "");
          $("#overlay").hide();
          $("#overlayContent").hide();
      });
      </script>

	    	<% if session[:user_id] == @user.id %>
	    		</br>
	    		<%= render inline:  '<button onclick="deleteFavorite(' + favorite.id.to_s + ')">remove</button>'.html_safe%>
	    	<% end %>
	    </td>
	<% end %>
</tr>
</table>
</div>