
<script>
function deleteFavorite(input){
      jQuery.ajax({
          url: "/users/deleteFavorite/",
          data: {'id':input.toString()},
          success: function(result) {
            location.reload();
            sessionStorage.setItem("message", "favorite removed");
           },
          error: function() {
          alert('Error occured');
           }

      });
}
</script>

<%= render '/layouts/ribbon' %>
<%= @user.name %>'s favorites <br>

<div class="favCol" align = "center"> <!couldn't get css to center things :( >
	<% @favorites.each_with_index do |favorite, i| %>
    <% @shaved = favorite.url[0..-5] %>
		<section class="favEntry">

      <a href="" 
        onMouseOver="document.img<%=i.to_s%>.src='<%= @shaved + '.gif' %>';" 
        onMouseOut="document.img<%=i.to_s%>.src='<%= @shaved + 'm.gif' %>';">
      <img src="<%= @shaved + 'm.gif' %>" name="img<%=i.to_s%>">
      </a> 


	    	<% if session[:user_id] == @user.id %>
	    		</br>
	    		<%= render inline:  '<button onclick="deleteFavorite(' + favorite.id.to_s + ')">remove</button>'.html_safe%>
	    	<% end %>
	    <br>
	  </section>
	<% end %>

</div>