<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Ebin gifs", root_path, id: "logo" %>

      <nav>
      	<div class="ribbonText">
          <div class="ribbonMessage" id="message"></div>
	        <ul class="nav pull-right">

						<% if session[:user_id] != nil %>
							<div class="ribbonName"> <%= User.find(session[:user_id]).name %> </div>
							<%= link_to 'Favorites', '/users/?' + {param_id: session[:user_id], page: 0}.to_param %>
							<%= link_to 'logout', '/sessions/logout/' %>
						<% else %>
							<%= link_to 'Log In', '/sessions/login' %>
							<%= link_to 'New User', '/users/new' %>
						<% end %>
					</div>
        </ul>
      </nav>
    </div>
  </div>
</header>


<script>
//Turbolinks was calling ready before the html was fully loaded, placing after the ribbon fixed this 
var sessionParam = null;
<% if flash[:message] != nil %>
  sessionParam = " <%= flash[:message] %> ";
  <% flash[:message] = nil %>
<% end %>  

//if nothing passed in, will check sessionStorage for a message and display and pop if present
function displayMessage (messageIn) {
  console.log("displayMessage called");


  if(messageIn != null)
    message = messageIn;

  else if(sessionStorage.message != null) {
      message = sessionStorage.message;
      sessionStorage.removeItem("message");
  }

  else if(sessionParam != null) {
    message = sessionParam;
    sessionParam = null;
  }

  else
    message = null;

  if(message == null)
    document.getElementById("message").innerHTML = "";
  
  if(document.getElementById("message").innerHTML != "") {//if message present blink and display next
    document.getElementById("message").innerHTML = " ";
    setTimeout(function(){
      
      document.getElementById("message").innerHTML = message;
       }, 150);
  }
  else
    document.getElementById("message").innerHTML = message;  
}
// $(document).on('page:load', displayMessage('load'));
$(document).ready(displayMessage(null));
</script>